@font-face {
  font-family: 'iconfont';
  src: url('../fonts/icons/turn-arrow.eot') format("embedded-opentype"), /* IE9*/
  url('../fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icons/turn-arrow.svg') format('svg'); /* iOS 4.1- */
}
html,body{
  background:#222;
  width:100%;
  height:100%;
}
.content{
  width:100%;
  height:100%;
}
/*stage start*/

.stage{
  position:relative;
  width:100%;
  height:660px;
}
/*stage end*/

/*image start*/
.img-sec{
  width:100%;
  height:100%;
  position:relative;
  perspective:1800px;
  overflow: hidden; 
  background-color: #ddd;
  @at-root{
    .img-figure{
      position:absolute;
      width:320px;
      height:360px;
      margin:0;
      padding:40px;
      box-sizing: border-box;
      background-color: #fff;
      cursor: pointer;
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }
    .img-back{
      position:absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility:hidden;     
      background-color: #fff;
    }
    figcaption{
      text-align:center;
      margin:20px 0 0 0;
      color:#a7a0a2;
    }
  }
}
/*image end*/

/*controler  start*/
.controller-nav{
  position:absolute;
  left:0;
  bottom:30px;
  z-index:101;
  width:100%;
  text-align:center;

  @at-root{
    .controller-unit{
      display:inline-block;
      margin:0 5px;
      width:30px;
      height:30px;
      text-align:center;
      vertical-align: middle;
      cursor:pointer;
      background-color:#aaa;
      border-radius:50%;
      translate:transform .6s ease-in-out ,background-color.3s;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      transform:scale(.5);
      &.is-center{
        transform: scale(1);
        background-color: #888;

        &::after {
          color: #fff;
          font-family: 'iconfont';
          line-height: 30px;
          content: '\e600';
        }
        &.is-inverse {
          background: #555;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
/*controler  end*/